Zeus/Client.Zeus.App/Service References/CrudService/BHS.ProjetoBaseMvc.Dominio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Client.Zeus.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Client.Zeus.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Client.Zeus.Dominio.Base" />
  <xs:complexType name="ArrayOfTB_CIDADE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_CIDADE" nillable="true" type="tns:TB_CIDADE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_CIDADE" nillable="true" type="tns:ArrayOfTB_CIDADE" />
  <xs:complexType name="TB_CIDADE">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Client.Zeus.Dominio.Base" base="q1:DominioBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID_UF" type="xs:int" />
          <xs:element minOccurs="0" name="NOME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TB_UF" nillable="true" type="tns:TB_UF" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TB_CIDADE" nillable="true" type="tns:TB_CIDADE" />
  <xs:complexType name="TB_UF">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Client.Zeus.Dominio.Base" base="q2:DominioBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="NOME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SIGLA" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TB_UF" nillable="true" type="tns:TB_UF" />
  <xs:complexType name="ArrayOfTB_UF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_UF" nillable="true" type="tns:TB_UF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_UF" nillable="true" type="tns:ArrayOfTB_UF" />
</xs:schema>