Zeus/Client.Zeus.App/Service References/CrudService/BHS.ProjetoBaseMvc.Contrato.Entidade.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Client.Zeus.Contrato.Entidade" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Client.Zeus.Contrato.Entidade" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Client.Zeus.Dominio" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="RetornoListaTotalOfTB_CIDADE_Suar5u8q">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoListaTotalOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Client.Zeus.Contrato.Entidade" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TB_CIDADE" Namespace="http://schemas.datacontract.org/2004/07/Client.Zeus.Dominio" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Client.Zeus.Dominio" minOccurs="0" name="Lista" nillable="true" type="q1:ArrayOfTB_CIDADE" />
      <xs:element minOccurs="0" name="TotalItens" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoListaTotalOfTB_CIDADE_Suar5u8q" nillable="true" type="tns:RetornoListaTotalOfTB_CIDADE_Suar5u8q" />
  <xs:complexType name="RetornoComMensagem">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrosValidacao" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Retorno" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoComMensagem" nillable="true" type="tns:RetornoComMensagem" />
  <xs:complexType name="RetornoListaTotalOfTB_UF_Suar5u8q">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RetornoListaTotalOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Client.Zeus.Contrato.Entidade" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TB_UF" Namespace="http://schemas.datacontract.org/2004/07/Client.Zeus.Dominio" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Client.Zeus.Dominio" minOccurs="0" name="Lista" nillable="true" type="q3:ArrayOfTB_UF" />
      <xs:element minOccurs="0" name="TotalItens" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoListaTotalOfTB_UF_Suar5u8q" nillable="true" type="tns:RetornoListaTotalOfTB_UF_Suar5u8q" />
</xs:schema>