Zeus/Client.Zeus.App/Service References/CrudService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CrudServico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Client.Zeus.Dominio" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Client.Zeus.Dominio.Base" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Client.Zeus.Contrato.Entidade" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICrudContrato_ListarCidade_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCidade" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_ListarCidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCidadeResponse" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_ListarPaginadoCidade_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPaginadoCidade" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_ListarPaginadoCidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPaginadoCidadeResponse" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_BuscarPorIdCidade_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorIdCidade" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_BuscarPorIdCidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorIdCidadeResponse" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_CriarCidade_InputMessage">
    <wsdl:part name="parameters" element="tns:CriarCidade" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_CriarCidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:CriarCidadeResponse" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_EditarCidade_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarCidade" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_EditarCidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarCidadeResponse" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_ExcluirCidade_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirCidade" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_ExcluirCidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirCidadeResponse" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_ExcluirVariosCidade_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirVariosCidade" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_ExcluirVariosCidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirVariosCidadeResponse" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_ListarUF_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUF" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_ListarUF_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUFResponse" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_ListarPaginadoUF_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPaginadoUF" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_ListarPaginadoUF_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPaginadoUFResponse" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_BuscarPorIdUF_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorIdUF" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_BuscarPorIdUF_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorIdUFResponse" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_CriarUF_InputMessage">
    <wsdl:part name="parameters" element="tns:CriarUF" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_CriarUF_OutputMessage">
    <wsdl:part name="parameters" element="tns:CriarUFResponse" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_EditarUF_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarUF" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_EditarUF_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarUFResponse" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_ExcluirUF_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirUF" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_ExcluirUF_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirUFResponse" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_ExcluirVariosUF_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirVariosUF" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_ExcluirVariosUF_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirVariosUFResponse" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_TestarServico_InputMessage">
    <wsdl:part name="parameters" element="tns:TestarServico" />
  </wsdl:message>
  <wsdl:message name="ICrudContrato_TestarServico_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestarServicoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICrudContrato">
    <wsdl:operation name="ListarCidade">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudContrato/ListarCidade" message="tns:ICrudContrato_ListarCidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudContrato/ListarCidadeResponse" message="tns:ICrudContrato_ListarCidade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPaginadoCidade">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudContrato/ListarPaginadoCidade" message="tns:ICrudContrato_ListarPaginadoCidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudContrato/ListarPaginadoCidadeResponse" message="tns:ICrudContrato_ListarPaginadoCidade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorIdCidade">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudContrato/BuscarPorIdCidade" message="tns:ICrudContrato_BuscarPorIdCidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudContrato/BuscarPorIdCidadeResponse" message="tns:ICrudContrato_BuscarPorIdCidade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CriarCidade">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudContrato/CriarCidade" message="tns:ICrudContrato_CriarCidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudContrato/CriarCidadeResponse" message="tns:ICrudContrato_CriarCidade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarCidade">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudContrato/EditarCidade" message="tns:ICrudContrato_EditarCidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudContrato/EditarCidadeResponse" message="tns:ICrudContrato_EditarCidade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirCidade">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudContrato/ExcluirCidade" message="tns:ICrudContrato_ExcluirCidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudContrato/ExcluirCidadeResponse" message="tns:ICrudContrato_ExcluirCidade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirVariosCidade">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudContrato/ExcluirVariosCidade" message="tns:ICrudContrato_ExcluirVariosCidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudContrato/ExcluirVariosCidadeResponse" message="tns:ICrudContrato_ExcluirVariosCidade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUF">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudContrato/ListarUF" message="tns:ICrudContrato_ListarUF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudContrato/ListarUFResponse" message="tns:ICrudContrato_ListarUF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPaginadoUF">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudContrato/ListarPaginadoUF" message="tns:ICrudContrato_ListarPaginadoUF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudContrato/ListarPaginadoUFResponse" message="tns:ICrudContrato_ListarPaginadoUF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorIdUF">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudContrato/BuscarPorIdUF" message="tns:ICrudContrato_BuscarPorIdUF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudContrato/BuscarPorIdUFResponse" message="tns:ICrudContrato_BuscarPorIdUF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CriarUF">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudContrato/CriarUF" message="tns:ICrudContrato_CriarUF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudContrato/CriarUFResponse" message="tns:ICrudContrato_CriarUF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarUF">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudContrato/EditarUF" message="tns:ICrudContrato_EditarUF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudContrato/EditarUFResponse" message="tns:ICrudContrato_EditarUF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirUF">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudContrato/ExcluirUF" message="tns:ICrudContrato_ExcluirUF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudContrato/ExcluirUFResponse" message="tns:ICrudContrato_ExcluirUF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirVariosUF">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudContrato/ExcluirVariosUF" message="tns:ICrudContrato_ExcluirVariosUF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudContrato/ExcluirVariosUFResponse" message="tns:ICrudContrato_ExcluirVariosUF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestarServico">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudContrato/TestarServico" message="tns:ICrudContrato_TestarServico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudContrato/TestarServicoResponse" message="tns:ICrudContrato_TestarServico_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICrudContrato" type="tns:ICrudContrato">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarCidade">
      <soap:operation soapAction="http://tempuri.org/ICrudContrato/ListarCidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPaginadoCidade">
      <soap:operation soapAction="http://tempuri.org/ICrudContrato/ListarPaginadoCidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorIdCidade">
      <soap:operation soapAction="http://tempuri.org/ICrudContrato/BuscarPorIdCidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CriarCidade">
      <soap:operation soapAction="http://tempuri.org/ICrudContrato/CriarCidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarCidade">
      <soap:operation soapAction="http://tempuri.org/ICrudContrato/EditarCidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirCidade">
      <soap:operation soapAction="http://tempuri.org/ICrudContrato/ExcluirCidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirVariosCidade">
      <soap:operation soapAction="http://tempuri.org/ICrudContrato/ExcluirVariosCidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUF">
      <soap:operation soapAction="http://tempuri.org/ICrudContrato/ListarUF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPaginadoUF">
      <soap:operation soapAction="http://tempuri.org/ICrudContrato/ListarPaginadoUF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorIdUF">
      <soap:operation soapAction="http://tempuri.org/ICrudContrato/BuscarPorIdUF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CriarUF">
      <soap:operation soapAction="http://tempuri.org/ICrudContrato/CriarUF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarUF">
      <soap:operation soapAction="http://tempuri.org/ICrudContrato/EditarUF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirUF">
      <soap:operation soapAction="http://tempuri.org/ICrudContrato/ExcluirUF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirVariosUF">
      <soap:operation soapAction="http://tempuri.org/ICrudContrato/ExcluirVariosUF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestarServico">
      <soap:operation soapAction="http://tempuri.org/ICrudContrato/TestarServico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CrudServico">
    <wsdl:port name="BasicHttpBinding_ICrudContrato" binding="tns:BasicHttpBinding_ICrudContrato">
      <soap:address location="http://localhost:8733/Client.Zeus.Servico/CrudServico/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>